<!Doctype html>
<html>
    <head>
        <% include partials/head %>
        
    </head>
    <body>
        <% include partials/header %>
            <center>
            <div class="card text-center w-50" style="margin-top:100px">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Choose carpark</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/checkin">Check-In</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Check-Out</a>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                        
                        <h4 class="card-title">Check-Out</h4>
                        <br><br><br>
                        <button class="btn btn-primary" type="submit">Check-Out</button>
    
                        
                    </div>
                    
                </div>
            </center>
        
        <% include partials/scripts %>
    </body>    
</html>
