<!Doctype html>
<html>
    <head>
        <% include partials/head %>
        
    </head>
    <body>
        <% include partials/header %>
            <center>
            <div class="card text-center w-50" style="margin-top:100px">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Choose carpark</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Check-In</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Check-Out</a>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                        
                        <h4 class="card-title">Check-In</h4>
                        <p class="card-text">Time of Allocation: <%= AllocatedTime %></p>
                        <p class="card-text">You are allocated to: Lot <%= LotID %></p>
                        <span class="badge badge-danger">Reminder: Please be at your allocated lot and check-in within 10 minutes.</span>
                        <hr>
                        <form method="POST" action="/checkin">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Serial Number</span>
                                <input id="serialnumber" type="text" class="form-control" placeholder="Enter the serial number at the lot allocated to you" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <button id="btnCheckIn" type="submit" class="btn btn-primary">Check-In</button>
                        </form>
                        <button id="btnComplain" class="btn btn-primary">Complain</button>
                        <br>
                        <br>
                        <span class="badge badge-light">You may file a complaint if your allocated lot is occupied and a new lot will be allocated to you.</span>
                    </div>
                </div>
            </center>
        
        <% include partials/scripts %>
        <script>
            $(document).ready(function(){
                $('#btnCheckIn').click(function(){
                alert("You have successfully checked in! Please remember to check out before leaving to get back your partial refund of $5.50.");
                });
                $(function(){
                    $('#btnCheckIn').attr('disabled', 'disabled');
                });
                $('input[type=text]').keyup(function(){
                    if($('#serialnumber').val() != '') {
                        $('#btnCheckIn').removeAttr('disabled');
                    } else {
                        $('#serialnumber').attr('disabled', 'disabled');
                    }
                });
            });
            
        </script>
    </body>    
</html>