<!Doctype html>
<html>
    <head>
        <% include partials/head %>
        
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand" href="#">Chope-A-Lot</a>
                        <ul class="nav navbar-nav">
                            <li>
                            <p class="navbar-btn" style="margin-bottom:1px">
                                <a href="#" id = "credit" class="button btn btn-primary">Top-up Credit</a>
                                <a href="/" id = "signout" class="button btn btn-primary">Sign Out</a>
                            </p>
                            </li>
                        </ul>
                    </div>
            </nav>
            <center>
            <div class="card text-center w-50" style="margin-top:100px">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Choose carpark</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Check-In</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Check-Out</a>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                        
                        <h4 class="card-title">Check-Out</h4>
                        <br><br><br>
                        <form method="POST" action="/checkout">
                            <button id="btnCheckOut" type="submit" class="btn btn-primary">Check-Out</button>
                        </form>
                    </div>
                    
                </div>
            </center>
        
        <% include partials/scripts %>
        <script>
        $('#btnCheckOut').click(function(){
            alert('You have successfully checked out!');
        });

                $(function(){
                    firebase.auth().signOut().then(function() {
                        console.log('Signed Out');
                    }, function(error) {
                        console.error('Sign Out Error', error);
                    }); 
                });
        </script>
    </body>    
</html>
