<!Doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>

        <div class="row">
        <div class="col-md-6 offset-3" style="margin-top:90px">
            <a href="/reset-password" class="button btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><center><h3>Enter Your New Password</h3></center>
           <form action="/new-password" method="POST" role="form" data-toggle="validator">
                <div class="form-group">
                    <label for="newpassword" class="control-label">Your New Password</label>
                    <input type="password" name="newpassword" class="form-control" id="newpassword" placeholder="Password" data-minlength="6" required/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="cfmpassword" class="control-label">Confirm your new password</label>
                    <input type="password" name="cfmpassword" class="form-control" id="cfmPassword" placeholder="Password" data-minlength="6" required/>
                    <div class="help-block with-errors"></div>
                </div>  
                    <center><button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button></center>
                    <br>
            </form>
        </div>  
    </div>
        
        <% include partials/scripts %>
    </body>    
</html>