<!Doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>

        <div class="row">
        <div class="col-md-6 offset-3" style="margin-top:90px">
            <a href="/" class="button btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><center><h3>Reset Password</h3></center>
           <form action="/reset-password" method="POST" role="form" data-toggle="validator">
                <div class="form-group">
                    <label for="email" class="control-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="registerEmail" aria-describedby="emailHelp" placeholder="Enter email" 
                    data-error="Invalid email address" required/>
                    <div class="help-block with-errors"></div>
                </div>  
                    <center><button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button></center>
                    <br>
            </form>
        </div>  
    </div>
        
        <% include partials/scripts %>
    </body>    
</html>